@media all and (max-width: 475px) {
  main {
    .mainPics {
      .stardewValley {
        width: 100%;
        margin: 0;
        transform: none;
      }
      .pegi {
        display: none;
      }
    }
    .textContainer {
      padding: 2vw;
      flex-direction: column;
      padding-bottom: 15vw;

      p:nth-child(1) {
        white-space: pre;
      }

      h1 {
        display: block;
        margin-top: -1.5em;
      }
      h5 {
        width: 160%;
        transform: translateY(7.5em);
      }
      .coins {
        margin-left: 0;
      }
    }

    .gridContainer {
      padding: 4em 0;
      .cont {
        transform: translateX(32.5vw) scale(1.6);
        margin-bottom: 0em;

        i {
          display: none;
        }
      }
      .buttonCont {
        transform: translateX(31vw);
        margin-bottom: -5vh;
      }
    }
    .cont.active .apart {
      transform: translateX(-25vw);
    }
  }

  .maintext :last-child {
    font-size: 1.2em;
    white-space: pre;
    transform: translateX(-8vw);
    i {
      transform: none;
    }
  }

  table {
    margin-left: -3vw;
    border-spacing: 1em;
  }
  table th .flexcont {
    width: 7em;
    flex-direction: column;
    img {
      margin-bottom: 2.5vw;
      transform: translateX(6vw);
    }
  }
  table tr:nth-child(5) span {
    top: -12.5vw;
    margin-left: 0;
  }
  table th #pegiRating {
    top: -29vw;
    margin-left: 0;
  }
  table th #pegi {
    right: -10vw;
    top: -25vw;
  }
  table th #pegi-Rating-P {
    position: relative;
    top: -24vw;
    width: auto;
  }
  .lastTr {
    background-color: red;
    padding: 0em 5em;
  }
  table tr:nth-child(6) span {
    margin-bottom: 5vh;
  }
  table .flexContLastTr :nth-child(1) {
    white-space: pre;
  }
  table .flexContLastTr {
    margin-left: -10vw;
  }
  table .flexContLastTr {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
    :nth-child(1n + 1) {
      margin-bottom: 2vw;
    }
  }
  .lowCaroussel .lowCaroussel-flexCont {
    overflow-x: scroll;
    width: auto;
    justify-content: flex-start;
  }
  .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
    flex-shrink: 0;
    flex-basis: 75vw;
    margin-bottom: 6vw;

    h5::before {
      display: none;
    }
  }
  .listContainer {
    margin-left: 0;
    ul {
      flex-basis: 50%;
    }
  }
  footer {
    height: 100%;
    a {
      transform: translateX(20vw);
    }
    .imageCont {
      margin-left: 26vw;
    }
    .imageCont div {
      margin: 0 1vw;
      transform: translateY(4vw);
    }
    img {
      width: 7vw;
    }
    .imageCont div:nth-child(5) img {
      width: 12vw; //pegi
    }
    p {
      line-height: 3vh;
      margin: 0;
    }
  }
}
