@media all and (max-width: 700px) {
  main {
    .mainPics {
      .stardewValley {
        width: 100%;
        margin: 0;
        transform: none;
      }
      .pegi {
        display: none;
      }
    }
    .textContainer {
      padding: 2vw;
      flex-direction: column;
      padding-bottom: 15vw;

      p:nth-child(1) {
        white-space: pre;
      }

      h1 {
        display: block;
        margin-top: -1.5em;
      }
      h5 {
        width: 160%;
        transform: translateY(7.5em);
      }
      .coins {
        margin-left: 0;
      }
    }

    .gridContainer {
      padding: 4em 0;
      .cont {
        transform: translateX(32.5vw) scale(1.6);
        margin-bottom: 0em;
        gap: 0.2em;

        i {
          display: none;
        }
      }
      .buttonCont {
        transform: translateX(31vw);
        margin-bottom: -5vh;
      }
    }
    .cont.active .apart {
      transform: translateX(-25vw);
    }
  }

  .maintext :last-child {
    font-size: 1.2em;
    white-space: pre;
    transform: translateX(-8vw);
    i {
      transform: none;
    }
  }

  table {
    margin-left: -2vw;
    border-spacing: 1em;
  }
  table th .flexcont {
    width: 7em;
    flex-direction: column;
    img {
      margin-bottom: 2.5vw;
      transform: translateX(6vw);
    }
  }
  table tr:nth-child(5) span {
    top: -12.5vw;
    margin-left: 0;
  }
  table th #pegiRating {
    top: -29vw;
    margin-left: 0;
  }
  table th #pegi {
    right: -10vw;
    top: -25vw;
  }
  table th #pegi-Rating-P {
    position: relative;
    top: -24vw;
    width: auto;
  }
  .lastTr {
    background-color: red;
    padding: 0em 5em;
  }
  table tr:nth-child(6) span {
    margin-bottom: 5vh;
  }
  table .flexContLastTr :nth-child(1) {
    white-space: pre;
  }
  table .flexContLastTr {
    margin-left: -10vw;
  }
  table .flexContLastTr {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
    :nth-child(1n + 1) {
      margin-bottom: 2vw;
    }
  }
  .lowCaroussel .lowCaroussel-flexCont {
    overflow-x: scroll;
    width: auto;
    justify-content: flex-start;
  }
  .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
    flex-shrink: 0;
    flex-basis: 75vw;
    margin-bottom: 6vw;

    h5::before {
      display: none;
    }
  }
  .listContainer {
    margin-left: 0;
    ul {
      flex-basis: 50%;
    }
  }
  footer {
    height: 100%;
    a {
      transform: translateX(20vw);
    }
    .imageCont {
      margin-left: 26vw;
    }
    .imageCont div {
      margin: 0 1vw;
      transform: translateY(4vw);
    }
    img {
      width: 7vw;
    }
    .imageCont div:nth-child(5) img {
      width: 12vw; //pegi
    }
    p {
      line-height: 3vh;
      margin: 0;
    }
  }
}

@media all and (min-width: 476px) and (max-width: 700px) {
  main {
    .gridContainer .cont {
      padding-top: 2em;
    }
    .gridContainer .buttonCont {
      transform: translateX(37vw);
      margin-bottom: -4vh;
    }
    .maintext :last-child {
      transform: translateX(0vw);
    }
    table {
      margin-right: 0;

      th {
        padding-right: 30vw;
        #pegiRating {
          top: -16vh;
        }
        #pegi {
          top: -18vh;
        }
      }
    }
    table tr:nth-child(5) span {
      top: -5.5vh;
      margin-left: 0;
    }
    table tr:nth-child(6) img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .small-Text-Under-Table {
      margin: 10vh auto;
    }
    .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
      flex-basis: 40vw;
    }
    .listSection h6 {
      margin-left: 0;
      text-align: center;
    }
  }
  footer a {
    transform: translateX(29vw);
  }
  footer img {
    width: 5vw;
  }
  footer .imageCont div:nth-child(5) img {
    width: 9vw;
  }
  footer .imageCont {
    margin-left: 31vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
  main {
    .mainPics .pegi {
      width: 7vw;
      top: 32vw;
      right: 8.5vw;
    }

    .gridContainer {
      padding: 4vw 0;
      .buttonCont {
        transform: translateX(39vw);
      }
    }
    .gridContainer .cont {
      margin-bottom: -4em;
      transform: translateX(20vw);
    }

    table {
      margin-left: 0.5vw;
      width: 99vw;
    }
    table th .flexcont {
      width: 5em;
      flex-direction: column;
    }
    table th .flexcont img {
      padding: 2vw 0vw;
      transform: translateX(16vw);
    }
    table th #pegiRating {
      top: -20.75vw;
      margin-left: -6em;
    }
    table th #pegi {
      right: 10vw;
      top: -17vw;
    }
    table th #pegi-Rating-P {
      top: -17vw;
      position: relative;
    }
    table tr:nth-child(5) span {
      margin-left: -7em;
      top: -4vw;
    }
    table tr:nth-child(6) img {
      transform: translateX(15vw);
    }
    table tr:nth-child(6) a {
      display: block;
      margin-top: 4vw;
      transform: translateX(4vw);
      text-align: center;
    }
    table tr:nth-child(6) span {
      margin: 2vw 0;
      transform: translateX(14vw);
      text-align: center;
    }
    table .flexContLastTr {
      transform: translateX(7vw);
      button {
        padding: 2vw 6vw;
      }
    }
    .lowCaroussel .lowCaroussel-flexCont {
      overflow-x: scroll;
      width: auto;
    }
    .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
      flex-shrink: 0;
      flex-basis: 30%;
      h5::before {
        display: none;
      }
    }
    .lowCaroussel #lowCaroussel-button2,
    #lowCaroussel-button1 {
      display: none;
    }
    .listContainer {
      margin-left: 7%;
    }
    .listSection h6 {
      text-align: center;
      margin: 0;
    }
  }
  footer {
    height: 100%;
    a {
      transform: translateX(33vw);
    }
    .imageCont {
      margin-left: 32vw;
    }
    .imageCont div {
      margin: 0 1vw;
      transform: translateY(4vw);
    }
    img {
      width: 4vw;
    }
    .imageCont div:nth-child(5) img {
      width: 7vw; //pegi
      margin-top: 1vw;
    }
    p {
      line-height: 3vh;
      margin: 0;
    }
  }
}
