@media all and (max-width: 700px) {
  main .mainPics .stardewValley {
    width: 100%;
    margin: 0;
    -webkit-transform: none;
            transform: none;
  }
  main .mainPics .pegi {
    display: none;
  }
  main .textContainer {
    padding: 2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15vw;
  }
  main .textContainer p:nth-child(1) {
    white-space: pre;
  }
  main .textContainer h1 {
    display: block;
    margin-top: -1.5em;
  }
  main .textContainer h5 {
    width: 160%;
    -webkit-transform: translateY(7.5em);
            transform: translateY(7.5em);
  }
  main .textContainer .coins {
    margin-left: 0;
  }
  main .gridContainer {
    padding: 4em 0;
  }
  main .gridContainer .cont {
    -webkit-transform: translateX(32.5vw) scale(1.6);
            transform: translateX(32.5vw) scale(1.6);
    margin-bottom: 0em;
    gap: 0.2em;
  }
  main .gridContainer .cont i {
    display: none;
  }
  main .gridContainer .buttonCont {
    -webkit-transform: translateX(31vw);
            transform: translateX(31vw);
    margin-bottom: -5vh;
  }
  main .cont.active .apart {
    -webkit-transform: translateX(-25vw);
            transform: translateX(-25vw);
  }
  .maintext :last-child {
    font-size: 1.2em;
    white-space: pre;
    -webkit-transform: translateX(-8vw);
            transform: translateX(-8vw);
  }
  .maintext :last-child i {
    -webkit-transform: none;
            transform: none;
  }
  table {
    margin-left: -2vw;
    border-spacing: 1em;
    white-space: normal;
  }
  table th .flexcont {
    width: 7em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table th .flexcont img {
    margin-bottom: 2.5vw;
    -webkit-transform: translateX(6vw);
            transform: translateX(6vw);
  }
  table tr:nth-child(5) span {
    top: -2.5vw;
    margin-left: 0;
  }
  table th #pegiRating {
    top: -22vw;
    margin-left: 0;
  }
  table th #pegi {
    right: -10vw;
    top: -15vw;
  }
  table th #pegi-Rating-P {
    position: relative;
    top: -10vw;
    width: auto;
  }
  .lastTr {
    background-color: red;
    padding: 0em 5em;
  }
  table tr:nth-child(6) span {
    margin-bottom: 5vh;
  }
  table .flexContLastTr :nth-child(1) {
    white-space: pre;
  }
  table .flexContLastTr {
    margin-left: -10vw;
  }
  table .flexContLastTr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    text-align: center;
  }
  table .flexContLastTr :nth-child(1n + 1) {
    margin-bottom: 2vw;
  }
  .lowCaroussel .lowCaroussel-flexCont {
    overflow-x: scroll;
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 75vw;
        flex-basis: 75vw;
    margin-bottom: 6vw;
  }
  .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex h5::before {
    display: none;
  }
  .listContainer {
    margin-left: 0;
  }
  .listContainer ul {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  footer {
    height: 100%;
  }
  footer a {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  footer .imageCont {
    margin-left: 26vw;
  }
  footer .imageCont div {
    margin: 0 1vw;
    -webkit-transform: translateY(4vw);
            transform: translateY(4vw);
  }
  footer img {
    width: 7vw;
  }
  footer .imageCont div:nth-child(5) img {
    width: 12vw;
  }
  footer p {
    line-height: 3vh;
    margin: 0;
  }
}

@media all and (min-width: 476px) and (max-width: 700px) {
  main .gridContainer .cont {
    padding-top: 2em;
  }
  main .gridContainer .buttonCont {
    -webkit-transform: translateX(37vw);
            transform: translateX(37vw);
    margin-bottom: -4vh;
  }
  main .maintext :last-child {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  main table {
    margin-right: 0;
  }
  main table th {
    padding-right: 30vw;
  }
  main table th #pegiRating {
    top: -16vh;
  }
  main table th #pegi {
    top: -18vh;
  }
  main table tr:nth-child(5) span {
    top: -5.5vh;
    margin-left: 0;
  }
  main table tr:nth-child(6) img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  main .small-Text-Under-Table {
    margin: 10vh auto;
  }
  main .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
    -ms-flex-preferred-size: 40vw;
        flex-basis: 40vw;
  }
  main .listSection h6 {
    margin-left: 0;
    text-align: center;
  }
  footer a {
    -webkit-transform: translateX(29vw);
            transform: translateX(29vw);
  }
  footer img {
    width: 5vw;
  }
  footer .imageCont div:nth-child(5) img {
    width: 9vw;
  }
  footer .imageCont {
    margin-left: 31vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
  main .mainPics .pegi {
    width: 7vw;
    top: 32vw;
    right: 8.5vw;
  }
  main .gridContainer {
    padding: 4vw 0;
  }
  main .gridContainer .buttonCont {
    -webkit-transform: translateX(39vw);
            transform: translateX(39vw);
  }
  main .gridContainer .cont {
    margin-bottom: -4em;
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  main table {
    margin-left: 0.5vw;
    width: 99vw;
  }
  main table th .flexcont {
    width: 5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main table th .flexcont img {
    padding: 2vw 0vw;
    -webkit-transform: translateX(16vw);
            transform: translateX(16vw);
  }
  main table th #pegiRating {
    top: -20.75vw;
    margin-left: 0;
  }
  main table th #pegi {
    right: -16vw;
    top: -17vw;
  }
  main table th #pegi-Rating-P {
    top: -17vw;
    position: relative;
  }
  main table tr:nth-child(5) span {
    margin-left: 0;
    top: -7vw;
  }
  main table tr:nth-child(6) img {
    -webkit-transform: translateX(6vw);
            transform: translateX(6vw);
  }
  main table tr:nth-child(6) a {
    display: block;
    margin-top: 4vw;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
    text-align: center;
  }
  main table tr:nth-child(6) span {
    margin: 2vw 0;
    -webkit-transform: translateX(14vw);
            transform: translateX(14vw);
    text-align: center;
  }
  main table .flexContLastTr {
    -webkit-transform: translateX(7vw);
            transform: translateX(7vw);
  }
  main table .flexContLastTr button {
    padding: 2vw 6vw;
  }
  main .lowCaroussel .lowCaroussel-flexCont {
    overflow-x: scroll;
    width: auto;
  }
  main .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  main .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex h5::before {
    display: none;
  }
  main .lowCaroussel #lowCaroussel-button2,
  main #lowCaroussel-button1 {
    display: none;
  }
  main .listContainer {
    margin-left: 7%;
  }
  main .listSection h6 {
    text-align: center;
    margin: 0;
  }
  footer {
    height: 100%;
  }
  footer a {
    -webkit-transform: translateX(33vw);
            transform: translateX(33vw);
  }
  footer .imageCont {
    margin-left: 32vw;
  }
  footer .imageCont div {
    margin: 0 1vw;
    -webkit-transform: translateY(4vw);
            transform: translateY(4vw);
  }
  footer img {
    width: 4vw;
  }
  footer .imageCont div:nth-child(5) img {
    width: 7vw;
    margin-top: 1vw;
  }
  footer p {
    line-height: 3vh;
    margin: 0;
  }
}

@media all and (min-width: 1001px) and (max-width: 1200px) {
  main .gridContainer {
    padding: 2vw 0vw;
  }
  main .gridContainer .cont {
    margin-bottom: -5em;
    -webkit-transform: translateX(18vw);
            transform: translateX(18vw);
  }
  main .gridContainer .buttonCont {
    -webkit-transform: translateX(42vw);
            transform: translateX(42vw);
  }
  main .cont.active .apart {
    -webkit-transform: translateX(-24vw);
            transform: translateX(-24vw);
  }
  main table tr:nth-child(5) span {
    margin-left: 0;
    white-space: pre;
    top: -5vw;
  }
  main table th .flexcont {
    width: 12em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(8.5vw);
            transform: translateX(8.5vw);
  }
  main table th .flexcont img {
    margin: 2vw 0;
  }
  main table th #pegiRating {
    top: -17vw;
  }
  main table th #pegi {
    right: -12vw;
    top: -13vw;
  }
  main table th #pegi-Rating-P {
    -webkit-transform: translateX(1.5vw) translateY(-5vw);
            transform: translateX(1.5vw) translateY(-5vw);
    width: 135%;
  }
  main table tr:nth-child(6) img {
    left: 4vw;
  }
  main table tr:nth-child(6) span {
    color: inherit;
    display: block;
    -webkit-transform: translateX(6vw);
            transform: translateX(6vw);
    text-align: center;
    margin-bottom: 2vw;
  }
  main table tr:nth-child(6) a {
    display: block;
    margin-top: 4vw;
    -webkit-transform: translateX(7vw);
            transform: translateX(7vw);
    text-align: center;
  }
  main table .flexContLastTr {
    -webkit-transform: translateX(12vw);
            transform: translateX(12vw);
  }
  main .lowCaroussel #lowCaroussel-button1,
  main .lowCaroussel #lowCaroussel-button2 {
    display: none;
  }
  main .lowCaroussel .lowCaroussel-flexCont {
    overflow-x: scroll;
    width: auto;
  }
  main .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  main .lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex h5::before {
    display: none;
  }
  main .listContainer {
    margin-left: 16%;
  }
  main .listSection h6 {
    text-align: center;
    margin-left: 0;
  }
  footer {
    height: 100%;
  }
  footer a {
    -webkit-transform: translateX(33vw);
            transform: translateX(33vw);
  }
  footer .imageCont {
    margin-left: 32vw;
  }
  footer .imageCont div {
    margin: 0 1vw;
    -webkit-transform: translateY(4vw);
            transform: translateY(4vw);
  }
  footer img {
    width: 4vw;
  }
  footer .imageCont div:nth-child(5) img {
    width: 7vw;
    margin-top: 1vw;
  }
  footer p {
    line-height: 3vh;
    margin: 0;
  }
}

@media all and (min-width: 1201px) and (max-width: 1400px) {
  main .gridContainer {
    padding: 2vw 0vw;
  }
  main .gridContainer .cont {
    margin-bottom: -5em;
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  main .gridContainer .buttonCont {
    -webkit-transform: translateX(44vw);
            transform: translateX(44vw);
  }
  main .cont.active .apart {
    -webkit-transform: translateX(-25vw);
            transform: translateX(-25vw);
  }
  main table th .flexcont img {
    padding: 0px 2.75vw;
  }
  main table tr:nth-child(5) span {
    margin-left: 2em;
    top: -5vw;
  }
  main table th #pegiRating {
    top: -5.5vw;
    margin-left: -6em;
  }
  main table tr:nth-child(6) img {
    -webkit-transform: translateX(17vw);
            transform: translateX(17vw);
  }
  main table tr:nth-child(6) span {
    -webkit-transform: translateX(14vw);
            transform: translateX(14vw);
    text-align: center;
  }
  main table tr:nth-child(6) a {
    display: block;
    -webkit-transform: translateX(32vw);
            transform: translateX(32vw);
    margin-top: 3vw;
  }
  main table .flexContLastTr {
    -webkit-transform: translateX(13vw);
            transform: translateX(13vw);
    margin-top: -1vw;
  }
  main .lowCaroussel .lowCaroussel-flexCont {
    margin-left: -1vw;
  }
  main .lowCaroussel #lowCaroussel-button1,
  main .lowCaroussel #lowCaroussel-button2 {
    top: 271vw;
  }
  main .listContainer {
    margin-left: 20%;
  }
  main .listSection h6 {
    text-align: center;
    margin-left: 0;
  }
  footer a {
    -webkit-transform: translateX(40.5vw);
            transform: translateX(40.5vw);
  }
}

@media all and (min-width: 1401px) and (max-width: 1800px) {
  main .gridContainer .cont {
    margin-bottom: -7em;
  }
  main table th .flexcont img {
    padding: 0 3vw;
  }
  main .lowCaroussel #lowCaroussel-button1,
  main .lowCaroussel #lowCaroussel-button2 {
    top: 226vw;
  }
}
/*# sourceMappingURL=MediaQMain.css.map */