@import "GlobalStyles";

@media all and(min-width:320px) and (max-width: 480px) {
  nav {
    .searchWall.active {
      width: 80em;
      height: 100vh;
      left: -42em;
      position: absolute;
      top: -3em;

      .cards {
        display: flex;
        position: absolute;
        flex-direction: column;
        transform: translateY(15em) translateX(9.5em);

        :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          width: clamp(12em, 15vw, 15em);
        }
      }
    }

    .bottomPart {
      ul {
        width: 5em;
        li {
          transform: none;
        }
      }
      .secondUl {
        li {
          transform: translateX(-1em);
        }
        :nth-child(3) {
          transform: translateX(-0.5em);
        }
      }
    }
  }
}

@media all and (max-width: 940px) {
  .burgerMenu {
    display: block;
  }
  .burgerOn {
    display: block;
    background-color: $N-LightGrey;
    height: 3em;

    img {
      height: 3em;
    }
    :nth-child(2) {
      position: absolute;
      right: 4.5em;
      top: 0.75em;
    }
  }
  #nav {
    display: none;
  }

  #nav.active {
    display: block;
    background-color: $N-White;
    position: absolute;
    width: 20em;
    height: 100vh;
    right: 0;

    img {
      display: none;
    }
    .bottomPart {
      img {
        display: block;
      }
    }

    .flexContainer {
      flex-direction: column;
      margin-top: 1em;
      margin-bottom: 0.5em;

      input {
        display: none;
      }

      button {
        display: inline-block;
        position: relative;
        z-index: 0;
        background-color: rgba(255, 255, 255, 0);
        color: $N-Grey;
        font-size: 1.1em;
        padding: 0;
        line-height: 2em;
        text-align: center;
        margin-left: 0.25em;
      }

      button:hover {
        transform: scale(1);
        color: $N-Red;
      }

      #searchIcon {
        text-align: center;
        margin-left: 7em;
        z-index: 0;
      }

      .flex2 {
        //to make childs in a vertical position
        width: 9.5em;
        line-height: 2.5em;
        // text align needed to center icons
        text-align: center;
        transform: translateX(5em);
        :nth-child(3) {
          display: none;
        }
      }
    }

    .bottomPart {
      flex-direction: column;
      line-height: 2.5em;
      text-align: center;
    }
  }
  .searchWall.active {
    width: 80em;
    height: 100vh;
    left: -50em;
    position: absolute;
    top: -3em;

    .searchWall-flexContainer {
      flex-wrap: wrap;
    }

    #searchWall-flex1 {
      text-align: center;
      transform: translateX(8em);

      h5 {
        margin-left: 1.5em;
      }
    }
    .cards {
      text-align: center;
      transform: translateX(8.5em);

      :nth-child(2),
      :nth-child(3) {
        width: 25em;
      }

      :nth-child(4) {
        width: 50em;
      }

      div {
        margin-bottom: 1.5em;
      }
    }
  }
  .bottomPart {
    ul {
      // !important is used to override all styles (in this case inline styles of bootstrap)
      width: 5em;
      background-color: $N-White;
      transform: translate(30px, -30px) scale(0.8) !important;
      position: relative !important;
      margin-top: -45px !important;
      margin-bottom: -85px !important;

      li {
        transform: translateX(0.75em);
      }
    }
    .secondUl {
      margin-top: -1em !important;
      li {
        transform: translateX(-1em);
        img {
          width: 8em;
        }
      }
      //Amiibo
      :nth-child(3) {
        transform: none;
      }
    }
  }
}
