* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
}

body {
  background-color: #ffffff;
}

button {
  color: #ffffff;
  background-color: #e60012;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  outline: none;
  border: none;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6), -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

a {
  text-decoration: none;
  color: #434242;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  nav .searchWall.active {
    width: 80em;
    height: 100vh;
    left: -42em;
    position: absolute;
    top: -3em;
  }
  nav .searchWall.active .cards {
    display: block;
  }
  nav .searchWall.active .cards :nth-child(2),
  nav .searchWall.active .cards :nth-child(3) {
    width: 12em;
  }
  nav .bottomPart ul {
    width: 5em;
  }
  nav .bottomPart ul li {
    -webkit-transform: none;
            transform: none;
  }
  nav .bottomPart .secondUl li {
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (max-width: 940px) {
  .burgerOn {
    display: block;
    background-color: #efefef;
    height: 3em;
  }
  .burgerOn img {
    height: 3em;
  }
  .burgerOn :nth-child(2) {
    position: absolute;
    right: 4.5em;
    top: 0.75em;
  }
  #nav {
    display: none;
  }
  #nav.active {
    display: block;
    background-color: #ffffff;
    position: absolute;
    width: 20em;
    height: 100vh;
    right: 0;
  }
  #nav.active img {
    display: none;
  }
  #nav.active .bottomPart img {
    display: block;
  }
  #nav.active .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #nav.active .flexContainer input {
    display: none;
  }
  #nav.active .flexContainer button {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: #434242;
    font-size: 1.1em;
    padding: 0;
    line-height: 2em;
    text-align: center;
    margin-left: 0.25em;
  }
  #nav.active .flexContainer button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #e60012;
  }
  #nav.active .flexContainer #searchIcon {
    text-align: center;
    margin-left: 7em;
  }
  #nav.active .flexContainer .flex2 {
    width: 9.5em;
    line-height: 2.5em;
    text-align: center;
    -webkit-transform: translateX(5em);
            transform: translateX(5em);
  }
  #nav.active .flexContainer .flex2 :nth-child(3) {
    display: none;
  }
  #nav.active .bottomPart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2.5em;
    text-align: center;
  }
  .searchWall.active {
    width: 80em;
    height: 100vh;
    left: -50em;
    position: absolute;
    top: -3em;
  }
  .searchWall.active .searchWall-flexContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .searchWall.active #searchWall-flex1 {
    text-align: center;
    -webkit-transform: translateX(8em);
            transform: translateX(8em);
  }
  .searchWall.active #searchWall-flex1 h5 {
    margin-left: 1.5em;
  }
  .searchWall.active .cards {
    text-align: center;
    -webkit-transform: translateX(8.5em);
            transform: translateX(8.5em);
  }
  .searchWall.active .cards :nth-child(2),
  .searchWall.active .cards :nth-child(3) {
    width: 25em;
  }
  .searchWall.active .cards :nth-child(4) {
    width: 50em;
  }
  .searchWall.active .cards div {
    margin-bottom: 1.5em;
  }
}
/*# sourceMappingURL=MediaQNav.css.map */