* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

button {
  color: #ffffff;
  background-color: #e60012;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  outline: none;
  border: none;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6), -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

a {
  text-decoration: none;
  color: #434242;
}

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #b3000f;
}

#search:hover {
  border-bottom: 1px solid #e60012;
  color: #e60012;
}

a:hover {
  color: #e60012;
}

.burgerMenu:active .burger {
  background-color: #e60012;
}

.burgerMenu:hover .burger {
  background-color: #e60012;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

nav .searchWall .searchWall-flexContainer ul li:hover {
  border-bottom: 1px solid black;
  color: #b3000f;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#searchIcon.active {
  color: #e60012;
}

#backspaceIcon.active {
  display: inline-block;
  color: #434242;
  position: relative;
  z-index: 2;
}

.searchWall {
  display: none;
}

.searchWall.active {
  display: block;
}

li:hover {
  color: red;
}

.dropdown-menu .second-dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-menu .second-dropdown-item:hover img:hover {
  background-color: #e60012;
}

.dropdown-item:hover {
  background-color: #e60012;
  color: #ffffff;
}

.dropdown-item:active {
  background-color: #e60012;
}

.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: #e60012;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.btn-secondary:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gridContainer img:hover {
  -webkit-filter: sepia(0.25) brightness(0.6);
          filter: sepia(0.25) brightness(0.6);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

h5::before {
  content: "";
  position: absolute;
  width: 2%;
  height: 0.25%;
  background-color: red;
  margin-top: 1.25em;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

h5:hover::before {
  width: 9.5%;
  -webkit-transition: width 0.75s ease-in-out;
  transition: width 0.75s ease-in-out;
}

.cont.active a {
  -webkit-transform: translateX(-38vw);
          transform: translateX(-38vw);
  opacity: 0;
  -webkit-transition: all 0.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.cont.active .apart {
  opacity: 1;
  -webkit-transition: all 0.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.cont a:hover i {
  display: block;
  -webkit-transform: translateX(3vw) translateY(-5vw);
          transform: translateX(3vw) translateY(-5vw);
}

.gridContainer .cont .big i {
  -webkit-transform: translateX(15.5vw) translateY(-9.5vw);
          transform: translateX(15.5vw) translateY(-9.5vw);
}

.gridContainer .cont .apart i {
  -webkit-transform: translateX(16vw) translateY(-9vw);
          transform: translateX(16vw) translateY(-9vw);
}

.lowCaroussel-flexCont.active {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 1.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 1.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.lowCaroussel:hover button {
  opacity: 0.4 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
/*# sourceMappingURL=States.css.map */