@import "GlobalStyles";

button:hover {
  transform: scale(1.2);
  background-color: $N-DarkRed;
}

#search:hover {
  border-bottom: 1px solid $N-Red;
  color: $N-Red;
}

a:hover {
  color: $N-Red;
}

//burgerMenu
.burgerMenu:active {
  .burger {
    background-color: $N-Red;
  }
}
.burgerMenu:hover {
  .burger {
    background-color: $N-Red;
    transition: all 0.25s ease-in-out;
  }
}

//nav searchwall list components
nav .searchWall .searchWall-flexContainer ul li:hover {
  border-bottom: 1px solid black;
  color: $N-DarkRed;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#searchIcon.active {
  color: $N-Red;
}

#backspaceIcon.active {
  display: inline-block;
  color: $N-Grey;
  position: relative;
  z-index: 2;
}

.searchWall {
  display: none;
}

.searchWall.active {
  display: block;
}

//dropdown menus
li:hover {
  color: red;
}

.dropdown-menu {
  .second-dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0);
    img:hover {
      background-color: $N-Red;
    }
  }
}

.dropdown-item:hover {
  background-color: $N-Red;
  color: $N-White;
}
// : active not .active
.dropdown-item:active {
  background-color: $N-Red;
}

//dropdown button customisation, need both classes to work !! .dropdown-toggle & .btn-secondary
.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: $N-Red;
  box-shadow: none;
  transform: none;
}

.btn-secondary:active:focus {
  box-shadow: none;
}

.gridContainer {
  img:hover {
    filter: sepia(0.25) brightness(0.6);
    transition: all 0.25s ease-in-out;
  }
}

h5::before {
  content: "";
  position: absolute;
  width: 2%;
  height: 0.25%;
  background-color: red;
  margin-top: 1.25em;
  transition: width 0.5s ease-in-out;
}
h5:hover::before {
  width: 9.5%;
  transition: width 0.75s ease-in-out;
}

.cont.active {
  a {
    transform: translateX(-38vw);
    opacity: 0;
    transition: all 0.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .apart {
    opacity: 1;
    transition: all 0.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}
// for the icons that appear on hover
.cont {
  a:hover {
    i {
      display: block;
      transform: translateX(3vw) translateY(-5vw);
    }
  }
}
.gridContainer .cont .big i {
  transform: translateX(15.5vw) translateY(-9.5vw);
}
.gridContainer .cont .apart i {
  transform: translateX(16vw) translateY(-9vw);
}

.lowCaroussel-flexCont.active {
  // this is the lower caroussel
  transform: translateX(-100vw); //read to know what is it about
  transition: all 1.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.lowCaroussel:hover {
  // for the buttons opacity
  button {
    opacity: 0.4 !important;
    transform: scale(1) !important;
    transition: opacity 0.25s ease-in-out;
  }
}
