@import "GlobalStyles";

button:hover {
  transform: scale(1.2);
  background-color: $N-DarkRed;
}
#search:hover {
  border-bottom: 1px solid $N-Red;
  color: $N-Red;
}
a:hover {
  color: $N-Red;
}
.box:hover {
  box-shadow: 5px 2.5px 12px $N-Red;
  transition: all 0.3s ease-in-out;
}
nav #searchWall .searchWall-flexContainer ul li:hover {
  border-bottom: 1px solid black;
  color: $N-DarkRed;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
