@import "GlobalStyles";

nav {
  #search {
    border: none;
    outline: none;
    width: 25em;
    border-bottom: 1px solid black;
    position: relative;
  }
  #searchIcon {
    position: relative;
  }

  #searchWall {
    width: 100vw;
    height: min-content;
    background-color: rgba(255, 0, 0, 0.219);
    color: $N-Grey;
    position: absolute;

    .searchWall-flexContainer {
      display: flex;
      justify-content: space-evenly;
      padding-top: 5em;
      transform: translateX(-14em);

      ul {
        list-style: none;

        li {
          color: red;
        }
      }
    }

    .box {
      display: inline-flex;
      width: 12em;
      height: 6em;
      margin: 0em 1em;
      text-align: center;
      background-color: $N-White;
      border: 3px solid $N-Red;
    }
  }

  .upperPart {
    img {
      position: relative;
    }
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    a {
      padding: 0em 0.5em;
      transform: translateY(5em);
      i {
        padding: 0em 0.5em;
      }
    }
  }
}
