@import "GlobalStyles";
// COMMENT THIS BEFORE ANYTHING ELSE
.burgerOn {
  display: none;
}
//BurgerMenu
.burgerMenu {
  position: absolute;
  z-index: 2;
  right: 0.5em;
  top: 0.25em;
  display: none;

  .burger {
    width: 2.5em;
    height: 0.5em;
    background-color: $N-Grey;
    margin-top: 0.25em;
    right: 0px;
  }
}

nav {
  // nav bar transition when scrolling
  transition: all 0.5s cubic-bezier(0.21, -0.16, 0.27, 1.55); // cubic bezier for bounce
  position: relative;

  // search bar and it's icon
  #search {
    border: none;
    outline: none;
    width: 25em;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 2;
  }

  #searchIcon {
    position: relative;
    z-index: 2;
  }

  #backspaceIcon {
    display: none;
    z-index: 2;
  }

  //the wall that appears when clicking the search bar
  .searchWall {
    width: 100vw;
    height: min-content;
    background-color: $N-White;
    color: $N-Grey;
    position: absolute;
    z-index: 1;

    .searchWall-flexContainer {
      display: flex;
      justify-content: space-evenly;
      padding-top: 5em;

      // "Suggestions"/"Nintendo Switch" list
      ul {
        list-style: none;

        li {
          color: red;
          line-height: 1.75em;
        }
      }
    }
    // three colorful cards on the right

    .cards {
      //smooth transition for all of them
      :nth-child(1n) {
        transition: all 0.3s ease-in-out;
        border-radius: 0.3em;
      }

      // the cards styling with nth-child
      :nth-child(2) {
        border: 1px solid rgb(255, 208, 0);
        border-top: 25px solid rgb(255, 208, 0);
        border-bottom: 25px solid rgb(255, 208, 0);
      }
      :nth-child(2):hover {
        box-shadow: 0px 0px 5px 3px rgb(255, 208, 0);
      }

      :nth-child(3) {
        border: 1px solid cyan;
        border-top: 25px solid cyan;
        border-bottom: 25px solid cyan;
      }
      :nth-child(3):hover {
        box-shadow: 0px 0px 5px 3px cyan;
      }

      :nth-child(4) {
        border: 1px solid $N-Red;
        border-top: 25px solid $N-Red;
        border-bottom: 25px solid $N-Red;
      }
      :nth-child(4):hover {
        box-shadow: 0px 0px 5px 0.5px $N-Red;
      }

      h5 {
        padding-bottom: 0.5em;
      }
    }

    .card {
      display: inline-flex;
      width: 17em;
      height: 9em;
      margin: 0em 1em;
      text-align: center;
      background-color: $N-White;

      p {
        font-size: 1.25em;
        //transfrom to align the text vertically "Y-axis"
        transform: translateY(1.5em);
        font-weight: bolder;
      }
    }
  }

  // the upper-part of the navbar
  .upperPart {
    img {
      //nintendo img
      position: relative;
      z-index: 1;
    }
  }

  .flexContainer {
    // support/wishlist and login/sign up part
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    button {
      display: none;
    }

    a {
      padding: 0em 0.5em;
      transform: translateY(5em);

      i {
        padding: 0em 0.5em;
      }
    }
  }
}

.bottomPart {
  display: flex;
  justify-content: center;
  border: 1px solid $N-LightGrey;

  div {
    margin: 0 3em;
  }

  :nth-child(1n + 3) {
    margin-top: 0.25em;
  }

  //transforming bootstrap's dropdown
  .dropdown-menu {
    img {
      padding: 1em;
      background-color: $N-White;
      border-radius: 0.5em;
      width: 15em;
    }

    :nth-child(2) {
      img {
        padding: 0.5em;
        width: 7em;
      }
    }
    :nth-child(3) {
      img {
        padding: 1.25em;
        width: 5em;
      }
    }
  }

  .dropdown-toggle {
    color: $N-Grey;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
  }
  ul {
    background-color: rgba(245, 245, 245, 0.329);
    width: 100vw;

    i {
      padding: 0.1em 0.4em;
      font-size: 3em;
      margin: 0.3em 0em;
    }

    li {
      display: inline-block;
      transform: translateX(20em);
      margin: 0 3%;
      text-align: center;
      cursor: pointer;
    }
  }

  .second-dropdown-item {
    padding: 1.5em;
  }

  .secondUl {
    li {
      transform: translateX(30em);
      margin: 0 2vw;
    }
  }
}

// NAV FINISHED MOVING TO MAIN

main {
  width: 100vw;
  height: fit-content;
  background-color: $N-LightBlue;
}

.mainPics {
  padding-top: 5em;
  .stardewValley {
    width: 65vw;
    margin-left: 18vw;
  }
  .pegi {
    position: absolute;
    width: 4.5em;
    top: 45em;
    right: 12.5em;
  }
}

.textContainer {
  padding: 2.5em 0em;
  display: flex;
  justify-content: space-around;
  background-color: $N-White;

  button {
    width: 15em;
    text-align: start;
    margin-bottom: 0.75em;
    i {
      font-size: 1.5em;
      margin-left: 3.5em;
      transform: translateY(0.1em); // to be vertically centred with the text
    }
  }

  .coins {
    margin-left: 8.25em;
    i {
      color: gold;
    }
  }

  h1 {
    // $14.99
    display: inline-block;
    padding-bottom: 0.25em;
    margin-right: 0.5em;
  }
  h5 {
    color: $N-Red;
    i {
      margin-right: 0.25em;
    }
  }
  h5::before {
    content: "";
    position: absolute;
    width: 2%;
    height: 0.25%;
    background-color: red;
    margin-top: 1.25em;
    transition: width 0.5s ease-in-out;
  }
  h5:hover::before {
    width: 9.5%;
    transition: width 0.75s ease-in-out;
  }
}

.gridContainer {
  padding: 2vw 8vw;

  i {
    //global
    position: absolute;
    transform: translateX(-5vw) translateY(4vw);
    font-size: 2em;
    color: $N-White;
    display: none;
  }

  //find a way to change buttons by triangles
  .buttonCont {
    transform: translateX(37vw);

    button {
      margin: 0 2em;
      padding: 0.5em;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%); //for their triangle shape
      transform: rotate(-90deg) scale(3);
      border-radius: 25%;
    }

    :last-child {
      transform: rotate(90deg) scale(3);
    }

    #button1:hover {
      transform: rotate(-90deg) scale(4.5);
    }

    #button2:hover {
      transform: rotate(90deg) scale(4.5);
    }
  }

  .cont {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out; // for a smooth hover (brightness)
    }

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
    transform: translateX(14vw);
    margin-bottom: -8em;

    .big {
      grid-column: span 4 / auto;
      grid-row-start: 1;
      grid-row-end: 3;

      i {
        // the big image icon
        transform: translateX(-17.5vw) translateY(9.5vw);
      }
    }

    .smalltop {
      grid-row: span 1 / auto;
    }

    .apart {
      grid-column-start: 7;
      grid-column-end: 11;
      grid-row: span 2 / auto;
      opacity: 0;
      transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      i {
        transform: translateX(-17.5vw) translateY(9.5vw);
      }
    }
    a {
      transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .square {
      grid-row-start: 2;
    }
  }
}

.maintext {
  background-color: $N-White;
  padding: 2vw 20vw;
  p,
  h2 {
    padding: 0.5vw 0vw;
  }
  h2 {
    color: $N-Grey;
  }
  :last-child {
    font-size: 1.2em;
    i {
      padding-left: 2.5vw;
    }
  }
}
