* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

button {
  color: #ffffff;
  background-color: #e60012;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  outline: none;
  border: none;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

a {
  text-decoration: none;
  color: #434242;
}

.burgerOn {
  display: none;
}

.burgerMenu {
  position: absolute;
  z-index: 2;
  right: 0.5em;
  top: 0.25em;
  display: none;
}

.burgerMenu .burger {
  width: 2.5em;
  height: 0.5em;
  background-color: #434242;
  margin-top: 0.25em;
  right: 0px;
}

nav {
  -webkit-transition: all 0.5s cubic-bezier(0.21, -0.16, 0.27, 1.55);
  transition: all 0.5s cubic-bezier(0.21, -0.16, 0.27, 1.55);
  position: relative;
}

nav #search {
  border: none;
  outline: none;
  width: 25em;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 2;
}

nav #searchIcon {
  position: relative;
  z-index: 2;
}

nav #backspaceIcon {
  display: none;
  z-index: 2;
}

nav .searchWall {
  width: 100vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #ffffff;
  color: #434242;
  position: absolute;
  z-index: 1;
}

nav .searchWall .searchWall-flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-top: 5em;
}

nav .searchWall .searchWall-flexContainer ul {
  list-style: none;
}

nav .searchWall .searchWall-flexContainer ul li {
  color: red;
  line-height: 1.75em;
}

nav .searchWall .cards :nth-child(1n) {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0.3em;
}

nav .searchWall .cards :nth-child(2) {
  border: 1px solid #ffd000;
  border-top: 25px solid #ffd000;
  border-bottom: 25px solid #ffd000;
}

nav .searchWall .cards :nth-child(2):hover {
  -webkit-box-shadow: 0px 0px 5px 3px #ffd000;
  box-shadow: 0px 0px 5px 3px #ffd000;
}

nav .searchWall .cards :nth-child(3) {
  border: 1px solid cyan;
  border-top: 25px solid cyan;
  border-bottom: 25px solid cyan;
}

nav .searchWall .cards :nth-child(3):hover {
  -webkit-box-shadow: 0px 0px 5px 3px cyan;
  box-shadow: 0px 0px 5px 3px cyan;
}

nav .searchWall .cards :nth-child(4) {
  border: 1px solid #e60012;
  border-top: 25px solid #e60012;
  border-bottom: 25px solid #e60012;
}

nav .searchWall .cards :nth-child(4):hover {
  -webkit-box-shadow: 0px 0px 5px 0.5px #e60012;
  box-shadow: 0px 0px 5px 0.5px #e60012;
}

nav .searchWall .cards h5 {
  padding-bottom: 0.5em;
}

nav .searchWall .card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 17em;
  height: 9em;
  margin: 0em 1em;
  text-align: center;
  background-color: #ffffff;
}

nav .searchWall .card p {
  font-size: 1.25em;
  -webkit-transform: translateY(1.5em);
  transform: translateY(1.5em);
  font-weight: bolder;
}

nav .upperPart img {
  position: relative;
  z-index: 1;
}

nav .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

nav .flexContainer button {
  display: none;
}

nav .flexContainer a {
  padding: 0em 0.5em;
  -webkit-transform: translateY(5em);
  transform: translateY(5em);
}

nav .flexContainer a i {
  padding: 0em 0.5em;
}

.bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #efefef;
}

.bottomPart div {
  margin: 0 3em;
}

.bottomPart :nth-child(1n + 3) {
  margin-top: 0.25em;
}

.bottomPart .dropdown-menu img {
  padding: 1em;
  background-color: #ffffff;
  border-radius: 0.5em;
  width: 15em;
}

.bottomPart .dropdown-menu :nth-child(2) img {
  padding: 0.5em;
  width: 7em;
}

.bottomPart .dropdown-menu :nth-child(3) img {
  padding: 1.25em;
  width: 5em;
}

.bottomPart .dropdown-toggle {
  color: #434242;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
}

.bottomPart ul {
  background-color: rgba(245, 245, 245, 0.329);
  width: 100vw;
}

.bottomPart ul i {
  padding: 0.1em 0.4em;
  font-size: 3em;
  margin: 0.3em 0em;
}

.bottomPart ul li {
  display: inline-block;
  -webkit-transform: translateX(20em);
  transform: translateX(20em);
  margin: 0 3%;
  text-align: center;
  cursor: pointer;
}

.bottomPart .second-dropdown-item {
  padding: 1.5em;
}

.bottomPart .secondUl li {
  -webkit-transform: translateX(30em);
  transform: translateX(30em);
  margin: 0 2vw;
}

main {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mainPics {
  background-color: #d6f0fa;
}

.mainPics .stardewValley {
  width: 65vw;
  margin-left: 18vw;
  -webkit-transform: translateY(4vw);
  transform: translateY(4vw);
}

.mainPics .pegi {
  position: absolute;
  width: 4vw;
  top: 36vw;
  right: 10.5vw;
}

.textContainer {
  padding: 6vw 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #ffffff;
}

.textContainer button {
  width: 15em;
  text-align: start;
  margin-bottom: 0.75em;
}

.textContainer button i {
  font-size: 1.5em;
  margin-left: 3.5em;
  -webkit-transform: translateY(0.1em);
  transform: translateY(0.1em);
}

.textContainer .coins {
  margin-left: 8.25em;
}

.textContainer .coins i {
  color: gold;
}

.textContainer h1 {
  display: inline-block;
  padding-bottom: 0.25em;
  margin-right: 0.5em;
}

.textContainer h5 {
  color: #e60012;
}

.textContainer h5 i {
  margin-right: 0.25em;
}

.gridContainer {
  padding: 2vw 8vw;
  background-color: #d6f0fa;
}

.gridContainer i {
  position: absolute;
  -webkit-transform: translateX(-5vw) translateY(4vw);
  transform: translateX(-5vw) translateY(4vw);
  font-size: 2em;
  color: #ffffff;
  display: none;
}

.gridContainer .buttonCont {
  -webkit-transform: translateX(37vw);
  transform: translateX(37vw);
}

.gridContainer .buttonCont button {
  margin: 0 2em;
  padding: 0.5em;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-transform: rotate(-90deg) scale(3);
  transform: rotate(-90deg) scale(3);
  border-radius: 25%;
}

.gridContainer .buttonCont :last-child {
  -webkit-transform: rotate(90deg) scale(3);
  transform: rotate(90deg) scale(3);
}

.gridContainer .buttonCont #button1:hover {
  -webkit-transform: rotate(-90deg) scale(4.5);
  transform: rotate(-90deg) scale(4.5);
}

.gridContainer .buttonCont #button2:hover {
  -webkit-transform: rotate(90deg) scale(4.5);
  transform: rotate(90deg) scale(4.5);
}

.gridContainer .cont {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5em;
  -webkit-transform: translateX(14vw);
  transform: translateX(14vw);
  margin-bottom: -8em;
}

.gridContainer .cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gridContainer .cont .big {
  grid-column: span 4 / auto;
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gridContainer .cont .big i {
  -webkit-transform: translateX(-17.5vw) translateY(9.5vw);
  transform: translateX(-17.5vw) translateY(9.5vw);
}

.gridContainer .cont .smalltop {
  grid-row: span 1 / auto;
}

.gridContainer .cont .apart {
  -ms-grid-column: 7;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row: span 2 / auto;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.gridContainer .cont .apart i {
  -webkit-transform: translateX(-17.5vw) translateY(9.5vw);
  transform: translateX(-17.5vw) translateY(9.5vw);
}

.gridContainer .cont a {
  -webkit-transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.gridContainer .cont .square {
  -ms-grid-row: 2;
  grid-row-start: 2;
}

.maintext {
  background-color: #ffffff;
  padding: 2vw 20vw;
}

.maintext p,
.maintext h2 {
  padding: 0.5vw 0vw;
}

.maintext h2 {
  color: #434242;
}

.maintext :last-child {
  font-size: 1.2em;
}

.maintext :last-child i {
  padding-left: 2.5vw;
}

.tableCont {
  background-color: #ffffff;
}

table {
  padding-top: 2.5vw;
  margin-left: 13vw;
  white-space: break-spaces;
  width: 75vw;
  border-spacing: 1em 0em;
  border-collapse: separate;
}

table tr:nth-child(5) {
  -webkit-transform: translateY(1vw);
  transform: translateY(1vw);
}

table tr:nth-child(5) span {
  font-size: 1.2em;
  margin-left: -5em;
  top: -1vw;
  position: relative;
}

table tr:nth-child(6) {
  -webkit-transform: translateY(2vw);
  transform: translateY(2vw);
}

table tr:nth-child(6) img {
  width: 15em;
  display: inline;
  position: relative;
}

table tr:nth-child(6) span {
  color: inherit;
  display: inline-block;
  top: 1em;
  position: relative;
  margin: 0 2vw;
}

table tr:nth-child(6) a {
  font-size: 1.25em;
}

table .flexContLastTr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vw;
}

table .flexContLastTr :nth-child(1n + 1) {
  margin: 0 1vw;
}

table .flexContLastTr :nth-child(1) {
  position: relative;
  top: 1vw;
}

table th {
  padding: 1vw 0;
  padding-right: 15vw;
  width: 15em;
}

table th #pegi {
  position: relative;
  right: 5vw;
  width: 5em;
}

table th #pegiRating {
  top: -1.75vw;
}

table th #pegi-Rating-P {
  -webkit-transform: translateX(1.5vw);
  transform: translateX(1.5vw);
  width: 135%;
}

table th .flexcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5em;
}

table th .flexcont img {
  padding: 0 4vw;
}

table th .Supported-Play-Modes-P {
  -webkit-transform: translateX(3vw);
  transform: translateX(3vw);
  width: 135%;
}

table .grayBG {
  background-color: #efefef;
}

table span {
  color: red;
  font-size: 1.1em;
  padding-right: 0.25vw;
}

table i {
  font-size: 1.5em;
  padding: 0 0.5vw;
}

.small-Text-Under-Table {
  background-color: #ffffff;
  width: 50%;
  font-size: 0.75em;
  margin-left: 25vw;
  margin: 10vw auto;
}

.lowCaroussel::before {
  content: "";
  position: absolute;
  border-top: 2px solid #efefef;
  width: 70%;
  margin-left: 17.5vw;
  margin-top: -4.5em;
}

.lowCaroussel::after {
  content: "";
  position: absolute;
  border-top: 2px solid #efefef;
  width: 70%;
  margin-left: 17.5vw;
  margin-top: 4.5vw;
}

.lowCaroussel {
  margin-bottom: 10vw;
}

.lowCaroussel h3 {
  margin-left: 20vw;
  margin-bottom: -2.5vw;
  color: #434242;
}

.lowCaroussel .lowCaroussel-flexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 5vw;
  width: 200%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex:nth-child(8) {
  width: 50.5%;
}

.lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex {
  margin: 0vw 2vw;
}

.lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex :nth-child(2) {
  text-align: center;
  font-size: 1.2em;
}

.lowCaroussel .lowCaroussel-flexCont .lowCaroussel-flex :nth-child(3) {
  font-size: 1.5em;
  text-align: center;
}

.lowCaroussel .lowCaroussel-flexCont img {
  width: 100%;
  border-radius: 1em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.lowCaroussel .lowCaroussel-flexCont h5 {
  font-size: 0.8em;
}

.lowCaroussel .lowCaroussel-flexCont h5 i {
  margin-left: 6vw;
}

.lowCaroussel .lowCaroussel-flexCont h5:hover::before {
  width: 5.25vw;
  -webkit-transition: width 0.75s ease-in-out;
  transition: width 0.75s ease-in-out;
}

.lowCaroussel #lowCaroussel-button1,
.lowCaroussel #lowCaroussel-button2 {
  position: absolute;
  right: -0.5vw;
  top: 192vw;
  padding: 5vw 2vw;
  opacity: 0;
  background-color: black;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.lowCaroussel #lowCaroussel-button2 {
  left: -0.5vw;
}

.listSection {
  background-color: #efefef;
  padding: 2vw 0;
}

.listSection h6 {
  margin-left: 26.5%;
}

.listSection img {
  width: 2em;
}

.listContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 25%;
}

.listContainer ul {
  padding: 0 2vw;
}

.listContainer li {
  list-style-type: none;
  font-size: 0.9em;
  line-height: 2em;
}

.listContainer li:nth-child(1) {
  font-weight: bold;
  font-size: 1.2em;
}

footer {
  color: #efefef;
  background-color: #434242;
  height: 10vw;
}

footer a {
  color: #efefef;
  display: inline-block;
  -webkit-transform: translateX(42.5vw);
  transform: translateX(42.5vw);
  margin: 0 1vw;
}

footer p {
  text-align: center;
  line-height: 0.5vw;
  margin: 1vw 0;
}

footer img {
  width: 2vw;
}

footer .imageCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 42.5vw;
}

footer .imageCont div {
  margin: 0 0.25vw;
  -webkit-transform: translateY(2vw);
  transform: translateY(2vw);
}

footer .imageCont div:nth-child(5) {
  margin: 0 1vw;
  -webkit-transform: none;
  transform: none;
}

footer .imageCont div:nth-child(5) img {
  width: 4vw;
}
/*# sourceMappingURL=Styles.css.map */
