@import "GlobalStyles";
// COMMENT THIS BEFORE ANYTHING ELSE
.burgerOn {
  display: none;
}
//BurgerMenu
.burgerMenu {
  position: absolute;
  z-index: 1;
  right: 0.5em;
  top: 0.25em;
  .burger {
    width: 2.5em;
    height: 0.5em;
    background-color: blue;
    margin-top: 0.25em;
    right: 0px;
  }
}
nav {
  // search bar and it's icon
  #search {
    border: none;
    outline: none;
    width: 25em;
    border-bottom: 1px solid black;
    position: relative;
  }
  #searchIcon {
    position: relative;
  }
  #backspaceIcon {
    display: none;
  }

  //the wall that appears when clicking the search bar
  .searchWall {
    width: 100vw;
    height: min-content;
    background-color: rgba(255, 0, 0, 0.219);
    color: $N-Grey;
    position: absolute;

    .searchWall-flexContainer {
      display: flex;
      justify-content: space-evenly;
      padding-top: 5em;

      // "Suggestions"/"Nintendo Switch" list
      ul {
        list-style: none;

        li {
          color: red;
          line-height: 1.75em;
        }
      }
    }
    // three colorful cards on the right

    .cards {
      //smooth transition for all of them
      :nth-child(1n) {
        transition: all 0.3s ease-in-out;
        border-radius: 0.3em;
      }

      // the cards styling with nth-child
      :nth-child(2) {
        border: 1px solid rgb(255, 208, 0);
        border-top: 25px solid rgb(255, 208, 0);
        border-bottom: 25px solid rgb(255, 208, 0);
      }
      :nth-child(2):hover {
        box-shadow: 0px 0px 5px 3px rgb(255, 208, 0);
      }

      :nth-child(3) {
        border: 1px solid cyan;
        border-top: 25px solid cyan;
        border-bottom: 25px solid cyan;
      }
      :nth-child(3):hover {
        box-shadow: 0px 0px 5px 3px cyan;
      }

      :nth-child(4) {
        border: 1px solid $N-Red;
        border-top: 25px solid $N-Red;
        border-bottom: 25px solid $N-Red;
      }
      :nth-child(4):hover {
        box-shadow: 0px 0px 5px 0.5px $N-Red;
      }
      h5 {
        padding-bottom: 0.5em;
      }
    }

    .card {
      display: inline-flex;
      width: 17em;
      height: 9em;
      margin: 0em 1em;
      text-align: center;
      background-color: $N-White;

      p {
        font-size: 1.25em;
        //transfrom to align the text vertically "Y-axis"
        transform: translateY(1.5em);
        font-weight: bolder;
      }
    }
  }

  // the upper-part of the navbar
  .upperPart {
    img {
      //nintendo img
      position: relative;
    }
  }

  .flexContainer {
    // support/wishlist and login/sign up part
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button {
      display: none;
    }
    a {
      padding: 0em 0.5em;
      transform: translateY(5em);
      i {
        padding: 0em 0.5em;
      }
    }
  }
}

.bottomPart {
  display: flex;
  justify-content: center;
  border: 1px solid $N-LightGrey;
  div {
    margin: 0 3em;
  }
  :nth-child(1n + 3) {
    margin-top: 0.25em;
  }

  //transforming bootstrap's dropdown
  .dropdown-menu {
    img {
      padding: 1em;
      background-color: $N-White;
      border-radius: 0.5em;
      width: 15em;
    }
    :nth-child(2) {
      img {
        padding: 0.5em;
        width: 7em;
      }
    }
    :nth-child(3) {
      img {
        padding: 1.25em;
        width: 5em;
      }
    }
  }

  .dropdown-toggle {
    color: $N-Grey;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
  }
  ul {
    width: 100vw;
    background-color: rgba(245, 245, 245, 0.329);

    i {
      padding: 0.1em 0.4em;
      font-size: 3em;
      margin: 0.3em 0em;
    }

    li {
      display: inline-block;
      transform: translateX(20em);
      margin: 0 3%;
      text-align: center;
      cursor: pointer;
    }
  }
  .second-dropdown-item {
    padding: 1.5em;
  }
  .secondUl {
    li {
      transform: translateX(30em);
      margin: 0 2vw;
    }
  }
}

main {
  width: 100vw;
  height: 100vh;
  background-color: $N-LightBlue;
}
